<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo %}
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/awsm.css@3.0.6/dist/awsm.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/awsm.css@3.0.6/dist/awsm_theme_pearl-lusta.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/gruvbox.light.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      messageStyle: "none",
      showMathMenu: false,
      asciimath2jax: { delimiters: [['$', '$']] }
    });
  </script>
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2.7.8/latest.js"></script>
</head>