<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo %}
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/awsm.css@3.0.7/dist/awsm.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/awsm.css@3.0.7/dist/awsm_theme_pastel-pink.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&family=Source+Code+Pro&display=swap">
  <link rel="stylesheet" href="/assets/gruvbox.light.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      messageStyle: "none",
      showMathMenu: false,
      asciimath2jax: { delimiters: [['$', '$']] }
    });
  </script>
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2.7.8/latest.js?config=AM_SVG"></script>
  <style>
    header {
      font-family: "Noto Sans SC", sans-serif;
    }

    article {
      font-family: "Noto Serif SC", serif;
    }

    footer {
      font-family: "Source Code Pro", monospace;
    }
  </style>
</head>