<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cciradih</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/awsm.css@3.0.4/dist/awsm.min.css">
  <link rel="stylesheet" href="https://unpkg.com/awsm.css@3.0.4/dist/awsm_theme_pearl-lusta.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap">
  <link rel="stylesheet" href="/assets/gruvbox.light.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      messageStyle: "none",
      showMathMenu: false,
      asciimath2jax: { delimiters: [['$', '$']] }
    });
  </script>
  <script defer type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/latest.js?config=AM_SVG"></script>
</head>
